<div>
	<div class="in-navbar md-whiteframe-1dp">
		<div class="in-navbar-content">
			<div class="layout-margin in-my-0">
				<md-toolbar class="in-my-0">
					<div class="md-toolbar-tools in-p-0">
						<div class="md-title">Страница не найдена</div>
					</div>
				</md-toolbar>
			</div>
		</div>
	</div>
	<div class="in-mainbar">
		<div class="in-mainbar-content">
			<div>
				<md-content layout-margin layout="column" flex>
					<md-card>
						<div layout-margin>
							Страница с таким адресом не найдена
						</div>
					</md-card>
				</md-content>
			</div>
		</div>
	</div>
</div>